.content {
    margin-left: 17%;
  }

  .header{
      font-weight: bold;
  }

  .flex-fill{
    border-radius: "15px!important";
    width: "30rem";
    border-color: "black";
    margin-bottom: 5;
  }

  .success-btn{
    float: right;
    background-color:#249654;
    color:white;
    border-radius: 1px;
    padding: 2;
  }

  .danger-btn{
    float: right;
    background-color:#c93a1a;
    color:white;
    border-radius: 1px;
  }
  

  .custom-card{
    padding: 5px;
    width: 30rem;
    border: '2px solid red';
    margin-bottom: 40px;
  }