.content {
    margin-left: 17%;
  }

  .header{
      font-weight: bold;
  }

  .flex-fill{
    border-radius: "15px!important";
    width: "30rem";
    border-color: "black";
    margin-bottom: 5;
  }

  .success-btn{
    float: right;
    color:white;
    border-radius: 1px;
    background-color: #4db6ac;
    display:block;
  }

  @media all and (max-width:10em){
    Button.success-btn{
    display:block;
    margin:0.4em auto;
    }
    Button.danger-btn{
      display:block;
      margin:0.4em auto;
      }
    }

  .danger-btn{
    float: right;
    background-color:#c93a1a;
    color:white;
    border-radius: 1px;
  }
  

  .custom-card{
    padding: 5px;
    width: 30rem;
    border: '2px solid red';
    margin-bottom: 40px;
  }